<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMD Presentations - Temperatures</title>
    <link rel="stylesheet" href="../node_modules/zurb-foundation-6-prebuilt/css/foundation.css" />
</head>
<body>

<style>
    [v-cloak] {
        display: none;
    }
</style>


<div class="row">
    <div class="medium-12">
        <h1><small>Temperatures</small></h1>
        <h4>&nbsp;<a href="index.html">Let's go back...</a></h4>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <div class="callout">
            <form id="chartControlPanel" v-cloak>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Location
                            <select name="" v-model="chartLocation" v-on:change="refreshChart">
                                <option
                                        v-for="location in locations"
                                        v-bind:value="location.id">{{ location.name }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Date [YYYY-MM-DD]
                            <input type="date" v-model="chartDate" v-on:change="refreshChart">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-2 columns">
                        <button type="button" class="button success" v-on:click="refreshChart">Load</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <div id="chart-holder" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
</div>


<div class="row" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
    <div class="medium-6 columns">
        <div class="callout alert" data-equalizer-watch>
            <h5>Please note!</h5>
            <p>This page will, when first loaded, retrieve data by calling an Azure function. This function is
            running in the cheapest pricing tier... and therefore has a very long warmup. We are talking 30 seconds or more.</p>
            <p>So, don't panic, take a deep breath, let go of your experience of time and space, just be one with all of the universe...</p>
        </div>
    </div>
    <div class="medium-6 columns">
        <div class="callout warning" data-equalizer-watch>
            <h5>Chrome</h5>
            <p>Has a datepicker built in, which is nice! If you use any other browser, take care when entering
            a date. It must be on the form YYYY-MM-DD and denote a valid date, if not, all will just explode (probably)</p>
        </div>
    </div>
</div>

    <script src="config.js"></script>
    <script data-main="js/temperatures" src="../node_modules/requirejs/require.js"></script>
</body>
</html>