<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMD Ready - Bootstrap Based</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="other-assets/css/weather-icons.min.css"/>
    <link rel="stylesheet" href="other-assets/css/weather-icons-wind.min.css"/>
</head>
<body>

<style>
    .outlined {
        outline: 1px solid wheat;
    }
    .consumptionNote {
        font-size: 0.8em;
    }
</style>

<div class="container">

<div class="row">
    <div class="col-md-6">
        <div id="weatherCard" class="panel panel-primary" v-cloak="hide">
            <div class="panel-heading">
                <h4 class="panel-title">Väder</h4>
                <small>{{locationDescription}}</small>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4" style="border-right: 1px solid gray;">
                        <h1 class="text-muted" style="display: block"><i v-bind:class="weatherIndicatorClass"></i>&nbsp;{{temp}}&nbsp;&deg;C</h1>
                        <small class="text-muted">{{weather}}</small>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 text-center" title="Blåser det?">
                                <div><i class="wi wi-strong-wind" style="color: blue;"></i>&nbsp;{{windspeed}}&nbsp;m/s</div>
                            </div>
                            <div class="col-md-4 col-sm-4 text-center" title="Relativ luftfuktighet">
                                <div><i class="wi wi-humidity" style="color: lightblue;"></i>&nbsp;{{humidity}}&nbsp;%</div>
                            </div>
                            <div class="col-md-4 col-sm-4 text-center" title="Regn de senaste 3 timmarna">
                                <div><i class="wi wi-raindrop" style="color: dodgerblue;"></i>&nbsp;{{rainfall}}&nbsp;mm</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <h1 class="text-muted">{{day}}&nbsp;{{month}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="indoorCard" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Värme</h4>
                <small>Stora gatan 1</small>
            </div>
            <div class="panel-body">
                <h4 class="text-muted">Inomhustemperatur</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-muted"><img src="other-assets/thermometer.svg" style="max-height: 1.4em; vertical-align: bottom">&nbsp;19.2 &deg;C</h4>
                    </div>
                </div>
                <h4 class="text-muted">Värme</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-muted"><img src="other-assets/water-radiator.svg" style="max-height: 1.4em; vertical-align: bottom">&nbsp;278.9 Enheter</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="waterConsumptionCard" class="panel panel-primary"  data-equalizer-watch>
            <div class="panel-heading">
                    <h4 class="panel-title">Vattenförbrukning</h4>
                    <small>Stora gatan 1</small>
            </div>
            <div class="panel-body">
                <h4 class="text-muted">Varmvatten</h4>
                <div class="row">
                    <div class="col-sm-2 text-left">
                        <svg id="hotwaterGauge" width="80%" height="80"></svg>
                    </div>
                    <div class="col-sm-3">
                        <p class="consumptionNote">Hushållet har hittills förbrukat <em>160</em> liter varmvatten.
                        Jättebra!!</p>
                    </div>
                </div>
                <h4 class="text-muted">Kallvatten</h4>
                <div class="row">
                    <div class="col-sm-2 text-left">
                        <svg id="coldwaterGauge" width="80%" height="80"></svg>
                    </div>
                    <div class="col-sm-3">
                        <p class="consumptionNote">Hittils har hushållet förbrukat <em>340</em>l kallt vatten. Det
                        är <em>200</em> liter mindre än genomsnittet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div id="powerConsumptionCard" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Elförbrukning</h4>
                <small>Stora gatan 1</small>
            </div>
            <div class="panel-body">
                <h4 class="text-muted">Mätare</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-muted"><img src="other-assets/power-gauge-wireless.svg" style="max-height: 1.4em; vertical-align: bottom">&nbsp;39 kWh</h4>
                    </div>
                </div>
                <h4 class="text-muted">Under veckan</h4>
                <div class="row">
                    <div class="col-sm-12 ">
                        <div id="consumptionOverview" style="max-height: 200px; height: 200px; max-width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="travelCard" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Reseplaner</h4>
                <small>You need to get out more</small>
            </div>
            <div class="panel-body">
                <iframe id="travelDestinationMap"
                        title="Travel more"
                        width="100%"
                        height="300"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=buenos+aires&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,80.859375&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Buenos+Aires,+Argentina&amp;z=11&amp;ll=-34.603723,-58.381593&amp;output=embed">
                </iframe>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="linkCard1" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Lite goa länkar</h4>
                <small>Allt som är viktigt, ett klick bort</small>
            </div>
            <div class="panel-body">
                <h4><a href="http://www.vaxjobostader.se" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;Växjöbostäder</a></h4>
                <h4><a href="http://www.wexnet.se" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;Wexnet</a></h4>
                <h4><a href="other/temperatures.html" target="_blank"><i class="glyphicon glyphicon-link"></i> Historical Temperatures</a></h4>
                <h4><a href="https://sva-nuc-02.is-lost.org/" target="_blank"><i class="glyphicon glyphicon-link"></i> Something else...</a></h4>
                <h4><a href="https://tenantportal.techem.se/cms/sv/login/login.jsp?demoformsent=true" target="_blank"><i class="glyphicon glyphicon-link"></i> Techems IMD Demo portal</a></h4>
                <h4><a href="https://imd-web-content.azurewebsites.net/" target="_blank"><i class="glyphicon glyphicon-link"></i> Open this page/frame in a new tab</a></h4>
            </div>
        </div>
    </div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>

<script src="node_modules/highcharts/highcharts.js"></script>

<script src="js/weather-card.js"></script>
<script src="js/water-card.js"></script>
<script src="js/indoor-card.js"></script>
<script src="js/powerconsumption-card.js"></script>

<script>
    // Just as a temporary remedy when using foundation equalizer
</script>

</body>
</html>